<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean name="myFortuneService"
      class="com.example.springdemo.HappyFortuneService"></bean>


<bean name="myBaseBallCoach" 
class="com.example.springdemo.BaseBallCoach">
<property name="emailAddress" value="suma@gmail.com"/>
<property name="team" value="suma"/>
<property name="myFortuneService" ref="myFortuneService"/>
</bean>
<!--  <bean name="myTrackCoach" 
class="com.example.springdemo.TrackCoach">
</bean>-->
</beans>
